
<div class="shadow d-flex flex-lg-row flex-column m-5">
    <div class="container col-lg-3 col-11 p-3" >
        <h1 class="my-5">Admin Panel</h1>
        <hr>
        <h2>Sequelize entities</h2>
        <div class="list-group">
            {{#each tables}}
                <a href="/admin/panel/resources/{{this.link}}/1" class="list-group-item list-group-item-action">{{this.tableName}}</a>
            {{/each}}
        </div>
    </div>
    <div class="gray-background container col-lg-9 col-11">
        {{#if isCreation}}
            {{{creationFormHbs}}}
        {{else}}
        <div id="table-content-container">
        <h2 class="p-3">{{tableName}}</h2>
        <div class="d-flex justify-content-end">
            <div class="mx-3 align-middle">Total records: {{totalRecords}}</div>
            <div class="mx-3">
                <a href="/admin/panel/create/{{tableNameForLink}}" role="button" class="btn btn-primary px-3">+ Create New</a>
            </div>
            <div class="mx-3">
                <a href="#" role="button" class="btn btn-outline-primary px-3">Filter</a>
            </div>
        </div>
        <div class="container">


            {{#isHaveContent totalRecords}}
            <table class="mt-5">
                <thead class="gray-background">
                    <tr>
                        <td>
                            <input type="checkbox" class="p-2">
                        </td>
                        {{#each object}}
                            <td id="th{{@index}}" class="px-3">
                                {{@key}}
                            </td>
                        {{/each}}
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each entities}}
                        <tr>
                            <td>
                                <input type="checkbox" class="p-2">
                            </td>
                            {{#each this}}
                                <td headers="th{{@index}}" class="px-3">{{this}}</td>
                            {{/each}}
                            {{#each this}}
                                {{#isId @key}}
                                    <td>
                                        <a role="button" class="btn btn-outline-dark mx-1" href="/admin/panel/edit/{{../../tableNameForLink}}/{{this}}"><i class="fa fa-pencil fa-lg"></i></a>
                                    </td>
                                    <td>
                                        <a role="button" class="btn btn-outline-dark mx-1" href="/admin/panel/delete/{{../../tableNameForLink}}/{{this}}"><i class="fa fa-trash-o fa-lg"></i></a>
                                    </td>
                                {{/isId}}
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <ul class="pagination my-3 mx-3">
                <li class="page-item" id="previous-pagination-link-container">
                    <a href="" class="page-link" id="previous-pagination-link">Previous</a>
                </li>
               {{#each numberOfPages}}
                   <li class="page-item">
                       <a href="/admin/panel/resources/{{../tableNameForLink}}/{{this}}" class="page-link class-for-activation">{{this}}</a>
                   </li>
               {{/each}}
                <li class="page-item" id="next-pagination-link-container">
                    <a href="" class="page-link" id="next-pagination-link">Next</a>
                </li>
            </ul>
            {{else}}
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h2 class="my-2">No records in this table, create the first one!</h2>
                    <div class="mx-3">
                        <a href="/admin/panel/create/{{tableNameForLink}}" role="button" class="btn btn-primary px-5 py-2">+ Create New</a>
                    </div>
                </div>
            {{/isHaveContent}}

        </div>
        {{/if}}
        <span id="table-name-for-link-span" style="display: none">{{tableNameForLink}}</span>
        <span id="max-page-span" style="display: none">{{maxPage}}</span>
        <span id="is-visible-span" style="display: none">{{isRightSideOfPanelVisible}}</span>
        </div>
    </div>
</div>